---
import { documentToHtmlString } from "@contentful/rich-text-html-renderer";
import { BLOCKS } from "@contentful/rich-text-types";
import type { Entry } from "contentful";
import Layout from "../../layouts/Layout.astro";
import { contentfulClient, Post, Region } from "../../lib/contentful";

export async function getStaticPaths() {
  const regionEntries = await contentfulClient.getEntries<Region>({
    content_type: "region",
  });

  const postEntries = await contentfulClient.getEntries<Post>({
    content_type: "post",
    order: "fields.date,sys.createdAt",
  });

  const pages = regionEntries.items.map((item) => ({
    params: { slug: item.fields.slug },
    props: {
      title: item.fields.title,
      posts: postEntries.items.filter(
        (post) => post.fields.region.fields.slug === item.fields.slug
      ),
    },
  }));

  return pages;
}

interface Props {
  title: string;
  posts: Entry<Post>[];
}

const { title, posts } = Astro.props;

const options = {
  renderNode: {
    [BLOCKS.PARAGRAPH]: (node: any, next: any) =>
      `<p class="my-6">${next(node.content)}</p>`,

    [BLOCKS.HEADING_2]: (node: any, next: any) =>
      `<h2 class="text-xl font-bold mt-2">${next(node.content)}</h2>`,

    [BLOCKS.HEADING_3]: (node: any, next: any) =>
      `<h3 class="text-lg font-bold mb-[-12px]">${next(node.content)}</h3>`,

    [BLOCKS.EMBEDDED_ASSET]: (node: any) => {
      const { file, title } = node.data.target.fields;
      const { width, height } = file.details.image;
      return `<img src=${`https:${file.url}?fm=webp&w=1280`} width="1280" height=${Math.round(
        height * (1280 / width)
      )} alt="${title}" class="my-4 mx-auto" />`;
    },
  },
};
---

<Layout title={`${title} |  Higgins Storm Chasing`}>
  <div class="mx-auto max-w-5xl py-8 px-4">
    <h1 class="mb-4 text-3xl font-bold">{title}</h1>
    <hr />
    <div>
      {
        posts.map((post) => (
          <div class="mb-10 mt-6">
            <h2 class="text-xl font-bold">{post.fields.title}</h2>
            <article
              set:html={documentToHtmlString(post.fields.body, options)}
            />
            <hr />
          </div>
        ))
      }
    </div>
  </div>
</Layout>
